/*1. Шапка сайта: лого, навигация, фото, приветствие, коммуникация*/
.section-1 {
    /* background-color: blueviolet; */
    width: 100%;
    height: 80px; /* проверить */
    margin-bottom: 60px;
}




// Вложенный блок section-1-column-1: grid container
.section-1-column-1 {
    display: grid;
    border: 1px solid black;   /* не забыть убрать */
    grid-template-columns: repeat(2, 1fr); 
    // grid-template-rows: 20% fit-content(1fr);
    grid-gap: 5px;
    // align-content: space-evenly;
    // grid-auto-flow: row;
}

// {
//     display: grid;
//     border: 1px solid black;   /* не забыть убрать */
//     grid-template-columns: repeat(3, 1fr); 
//     /* grid-template-columns: fit-content(10%) fit-content(40%) 1fr 10%; */
//     /* grid-template-rows: 20% fit-content(1fr); */
//     grid-gap: 5px;
//     align-content: space-evenly;
//   }
// .column_1_section_1 {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-gap: 5px;
//     grid-auto-flow: row;
// }
/* 1.1. Логотип: вставка текста (буква G от имени Glenda) поверх картинки. */
//   Вложеннный блок logo
.logo {
    /* grid-area: 1/1/2/2; */
}

// Элемент text блока logo
.logo {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: stretch;
  }
/*Вставка текста (буква G от имени Glenda) поверх картинки */
.logo__text {
    background: url('../assets/logo.png'); /* Путь к картинке */
    background-repeat: no-repeat; /* Фон не повторяется */
    width: 100%;
    max-width: 100%; /* адаптивный дизайн: картинка привязана к размеру родителя */
    height: 100%;
    color: #fff;
    font-family: $third-family;
    padding: 3px;
    font-weight: 700;
    font-size: 30px;
  } 
/* 1.2. Навигация-главное меню */
/* Главное меню: flex контейер - вложеннный блок menu */
.menu {
    /* grid-area: 1/2/2/3; */
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-content: center;
}
  .nav_link {
    line-height: 112%;
    text-decoration: none;
    padding: 0 10px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    color: #7e7f86;
  }
  .nav_link:hover {
    color: var(--second-color);
  } 
  /* 1.3. Приветствие с кнопкой коммуникации Let's talk */
  /* Привествие - нижний элемент grid контейнера с вложенным grid контейнером .greetings */
  .greetings_area {
    /* grid-area: 2/1/3/3; */
    /* display: grid; */
    /* grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: 10% 1fr 10% 70%; */
  
    /* gap: 5px;
    justify-content: start;
    align-content: start; */
    grid-column-start: 3;
    grid-column-end: span 2;
  }
  /* 
  .talk {
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    width: 150px;
    height: 40px;
    background: var(--mainColor);
    cursor: pointer;
  } */
  /* Элементы вложенного grid контейнера .greeteengs */
  /* .hello {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #666;
  }
  h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    color: var(--second-color);
  }
  .profession {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--second-color);
  } */
  /* 1.4. Фото тренера на фоне */
  /* Фото тренера - центральный элемент grid контейнера .header */
  /* Не получается справиться с этими картинками при увеличении экрана */
  .column_2_section_1 {
    /* grid-area: 1/3/3/4; */
    display: flex;
    width: 100%; /* responcible для всех картинок в div! */
    
  
    
    
    /* background: url(../assets/Background_mini.svg) no-repeat;
    background-size: contain; */
  
    /* height: 100%; */
    /* max-width: 100%; 
    max-height: 100%;
    /* flex-flow: wrap; */
  
    /* align-items: center;
    flex-direction: column; */ 
    /* align-items: stretch; */
  }
  
  
  /* .photo_on_background {
    grid-area: 1/3/3/4;
    display: flex;
    width: 100%;
    background: url(../assets/Background_mini.svg) no-repeat;
    background-size: contain;
  
    height: 100%;
    max-width: 100%; 
    max-height: 100%;
    flex-flow: wrap;
  
    align-items: center;
    flex-direction: column;
    align-items: stretch;
  }   */
  .photo_on_background {
    align-items: stretch;
    background: url(../assets/Background_mini.svg) 100% 100% no-repeat fixed, 
    /* url(/example/image/animate-bg2.png) 40% 40% no-repeat fixed,  */
    url(../assets/photo_Glenda.png) 5% 5% no-repeat fixed;
    background-size: auto, cover; /* Меняем масштаб */  
  }
  .photo {
  }
  /* .text_G {
    grid-area: 1/1/2/2;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: stretch;
  }
  /*Вставка текста (буква G от имени Glenda) поверх картинки 
  .text_G_over {
    background: url('../assets/logo.png'); /* Путь к картинке 
    background-repeat: no-repeat; /* Фон не повторяется 
    width: 100%;
    max-width: 100%; /* адаптивный дизайн: картинка привязана к размеру родителя  
    height: 100%;
    color: #fff;
    font-family: var(--third-family);
    padding: 3px;
    font-weight: 700;
    font-size: 30px;
  } */
  
  /* 1.5. Бургер меню */
  .burger_menu {
    font-family: var(--font-family);
    font-weight: 200;
    font-size: 15px;
    color: #fff;
  }
  /*  Взято здесь: https://www.mobila.name/post/53eb5a219dcff с моими изменениями*/
  /* Переключаемая боковая панель навигации выдвигающаяся справа */
  .nav {
  /* ? grid-area: 1/4/3/5; ?*/
    width: 10em;
    min-width: 5em;
  /* фиксируем и выставляем высоту панели на максимум */
    height: 100em;
    position: fixed;
    top: 0;   
  /* сдвигаем (прячем) панель относительно правого края страницы */
    right: -320px;
    padding: 15px 20px;
  /* плавный переход смещения панели */
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    transition: right 0.3s;
  /* цвет фона панели */
    background: var(--mainColor);
  /* поверх других элементов */
    z-index: 2000;
  }
  nav :hover {
    color: #7e7f86;
  }
  /* Кнопка переключения панели тег <label> */
  .nav-toggle {
  /* абсолютно позиционирую */
    position: absolute;
  /* относительно правого края панели */
    right: 320px;
    padding: 0.5em;
  /* цвет фона переключателя (чаще вчего в соответствии с цветом фона панели) */
    background: inherit;
  /* цвет текста */
    color: white;
  /* вид курсора */
    cursor: pointer;
  /* всегда поверх других элементов страницы */
    z-index: 2001;
  /* анимирование цвет текста при наведении */
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
  }
  /* текст кнопки (символ Unicode (TRIGRAM FOR HEAVEN)) */
  .nav-toggle:after {
    content: '\2630';
    text-decoration: none;
  }
  .nav_hide {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
  }
  /* цвет текста при наведении */
  .nav-toggle:hover {
    color: #7e7f86;
  }
  /* Скрытый чекбокс (флажок)невидим и недоступен, имя селектора атрибут флажка */
  [id='nav-toggle'] {
    position: absolute;
    display: none;
  }
  /* изменение положения переключателя при просмотре на мобильных устройствах когда навигация раскрыта, распологаем внутри панели*/
  [id='nav-toggle']:checked ~ .nav > .nav-toggle {
    left: auto;
    right: 2px;
  }
  /* Когда флажок установлен, открывается панель используем псевдокласс: checked */
  [id='nav-toggle']:checked ~ .nav {
    right: 0;
    box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
  }
  /* смещение контента страницы на размер ширины панели */
  /* [id='nav-toggle']:checked ~ main > article {
  -webkit-transform: translateX(-320px);
  -moz-transform: translateX(-320px);
  transform: translateX(-320px);
  } */
  /* изменение символа переключателя, привычный крестик (MULTIPLICATION X) */
  [id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
    content: '\2715';
  }
  .column_3_section_1 {}