/* 2. Основной контент сайта */
/* 2.1. Секция сайта Classes */
.section_2 {
    display: grid;
    border: 1px solid black; /* не забыть убрать */
    margin-bottom: 60px;
    grid-template-columns: 5% 1fr 5% 1fr 5% 1fr;
    grid-template-rows: 15% 15% 15% fit-content(1fr);
    grid-gap: 5px;
    outline: 2px #8643dc; /* что это? */
    align-content: space-evenly;
  }
  .p_nav {
    grid-area: 1/1/2/3;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--mainColor);
  }
  h2 {
    grid-area: 2/1/3/4;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    color: var(--second-color);
  }
  .mini_pic_1 {
    grid-area: 3/1/4/2;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    align-items: stretch;
  }
  .mini_pic_2 {
    grid-area: 3/3/4/4;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    align-items: stretch;
  }
  .mini_pic_3 {
    grid-area: 3/5/4/6;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    align-items: stretch;
  }
  h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: var(--second-color);
  }
  .classes_1 {
    grid-area: 3/2/4/3;
  }
  .classes_2 {
    grid-area: 3/4/4/5;
  }
  .classes_3 {
    grid-area: 3/6/4/7;
  }
  .classes_1_article {
    grid-area: 4/1/5/3;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 200%;
    color: var(--third-color);
  }
  .classes_2_article {
    grid-area: 4/3/5/5;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 200%;
    color: var(--third-color);
  }
  .classes_3_article {
    grid-area: 4/5/5/7;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 200%;
    color: var(--third-color);
  }
  /* 2.2. Секция сайта About me */
  .section_3 {
    display: grid;
    border: 1px solid black;
    margin-bottom: 60px;
    grid-template-columns: 5% 1fr 5% 1fr 5% 1fr;
    grid-template-rows: 15% 15% 15% fit-content(1fr);
    grid-gap: 5px;
    outline: 2px #8643dc;
    align-content: space-evenly;
  }
  ::marker {
    color: var(--third-color);
    font-size: 1em;
  }
  .about_me_1_article {
    grid-area: 4/1/5/3;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 200%;
    color: var(--third-color);    
  }
  .about_me_2_article {
    grid-area: 4/3/5/5;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 200%;
    color: var(--third-color);
  }
  .about_me_3_article {
    grid-area: 4/5/5/7;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 200%;
    color: var(--third-color);
  }
  /* 2.3. Секция сайта Contact Me */
.section_4 {
    display: grid;
    border: 1px solid black;
    margin-bottom: 60px;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 1fr fit-content(1fr) 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    outline: 2px #8643dc;
    align-content: space-evenly;
  }
  .s_4 {
    grid-area: 2/1/3/2;
  }
  .mail {
    grid-area: 2/2/3/3;
    display: flex;
    justify-content: flex-end;
    color: var(--mainColor);
    cursor: pointer;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    text-transform: lowercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
  form {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #a8a0b0;
  }
  .name {
    grid-area: 3/1/4/3;
  }
  .email {
    grid-area: 4/1/5/3;  
  }
  .tasks {
    grid-area: 5/1/6/3;
  }
  .input {
    border:none!important;
    margin: 10px 0;
    height: 30px;
    border-color: #a8a0b0;
    border-bottom-width: 2px;
    border-style: solid;
    outline: none;
    /* -webkit-border-bottom: 1px solid #a8a0b0!important;
    -webkit-tap-highlight-color: transparent; */
    padding: 10px 15px;
    margin-bottom: 10px;
    user-select: none;
  }
  .send {
    grid-area: 6/1/7/2;
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    width: 150px;
    height: 40px;
    background: var(--mainColor);
    cursor: pointer;
  }