// Секция сайта Classes 

.section-2 {
    padding: 64px 16px; /* Пространство сверху и снизу увеличено для выделения секции */
    // text-align: center;
}
.title {
    padding-bottom: 40px;
}
.title__strip {
    width: 70px;
    color: $main-color;
    background-color: $main-color;
    height: 3px;
}
.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; /* Расстояние между блоками с услугами */
}
.column-1, .column-2, .column-3 {
    max-width: 350px;
    display: flex;
    flex-direction: column;
}
.column-3 {
    display: flex;
    flex-direction: column; 
}
.title-container {
    display: flex;
    justify-content: flex-start; 
    min-height: 65px;
    align-items: center;
}
.picture-container {
    width: 65px;
    min-height: 65px;
    display: flex;
    justify-content: center;
    background: url(../../assets/Background_mini.svg) no-repeat fixed;
    background-size: auto;
}
.picture-container__icon {
    display: block;
    width: 100%;  
}
.picture-container_private-classes,
.picture-container_group-classes,
.picture-container_public-classes {
    align-items: center;
}
.test {
    padding-left: 20px;
}