// Переменные для шрифтов 
$font-main: "Red Hat Display", sans-serif;

// $second-family: "Roboto", sans-serif;
// $third-family: "Montserrat", sans-serif;

$font-size-small: 16px;
$font-size-small-title: 18px;
$font-size-small-menu: 20px;
$font-size-medium: 24px;
$font-size-large-title: 36px;
$font-size-large: 60px;

$font-weight-1: 400;
$font-weight-2: 500;
$font-weight-3: 700;

$line-height-1: 120%;
$line-height-2: 144%;
$line-height-3: 200%;


// Переменные для цветов 
$main-color: #8643dc;
$second-color: #25202f;
$third-color: #47444e;
$forth-color: #666;
$fifth-color: #7e7f86;
$sixth-color: #FFFFFF;
$seventh-color: #21232d;
$eighth-color: #a8a0b0;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: $font-main;
    font-weight: $font-weight-1;
    font-size: $font-size-small;
    line-height: $line-height-3;
    color: $third-color;
}
// Позиционирование секций сайта с помощью внутренних отступов 
.section-1, .section-2, .section-3, .section-4, .section-5 {
    padding: 16px;
}
h1 {
    font-weight: $font-weight-3;
    font-size: $font-size-large;
    color: $second-color;
    padding-bottom: 20px;
}
h2 {
    font-weight: $font-weight-3;
    font-size: $font-size-large-title;
    color: $second-color;
    padding-top: 20px;
    padding-bottom: 20px;
}
h3 {
    font-weight: $font-weight-2;
    font-size: $font-size-medium;
    color: $second-color;
}
h4 {
    font-weight: $font-weight-1;
    font-size: $font-size-small-title;
    color: $main-color;
}

// Исходя из версии сайта для desktop, медиазапросы для tablet и phone
$tablet-size-min: 720px;
$tablet-size-max: 1170px;
$phone-size: 430px;
